body{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.table-container {
    width: 70%;
    height: 60%;
    overflow-y: auto;
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.table-container th {
    padding: 10px;
    color: white;
    background-color: rgb(3, 133, 247);
    text-align: start;
}

.table-container tr:nth-child(even) td{
    background-color: white;
}

.table-container tr:nth-child(odd) td{
    background-color: rgb(235, 235, 235);
}


.table-container td{
    padding: 8px;
}

.actions {
    gap: 8px;
}

.actions .update-btn{
    width: 65px;
    background-color: rgb(3, 133, 247);
    color: white;
    cursor: pointer;
}

.actions .delete-btn{
    width: 65px;
    background-color: rgb(247, 3, 3);
    color: white;
    cursor: pointer;
}

.create-btn{
    position: absolute;
    width: 65px;
    height: 65px;
    bottom: 8%;
    right: 8%;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: rgb(3, 133, 247);
    color: white;
    font-size: 25px;
    font-weight: 700;
    transition: background-color 0.7s;
}

.create-btn:hover{
    background-color: rgb(0, 53, 83);
}

.modal-container{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
}

.update-modal, .create-modal{
    width: 350px;
    height: 530px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-modal .cancel-btn, .create-modal .cancel-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 36px;
    color: black;
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.update-modal .cancel-btn:hover, .create-modal .cancel-btn:hover{
    background-color: rgb(194, 194, 194);
}

.update-modal div, .create-modal div{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.update-modal input, .create-modal input{
    width: 200px;
    height: 26px;
}

.update-modal #submit, .create-modal #submit{
    background-color: rgb(3, 133, 247);
    color: white;
    width: 80px;
    height: 30px;
}